# Ignore configuration files that may contain sensitive information.
.ssh/*
drush/friends.aliases.drushrc.php
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
