.calendar-block h2 {
  margin-top: 0;

  &.node__title {
    margin-bottom: 0;
    margin-top: 1em;
  }
}

.calendar-block h2.node__title a {
  font-size: 0.75em;
}

.calendar-block .node__content {
  margin-bottom: 1em;
}

.single-day .no-entry.future:after {
  content: "";
}

.view-calendar {
  table {
    border-spacing: 0;
  }

  .view-header {
    border: 1px solid $black;
  }

  .month-view {
    th.days {
      padding: 10px 20px;
      text-align: center;
      width: calc(100% / 7);
    }
  }

  .views-field-field-start-datetime {
    margin-bottom: 0.5em;
  }

  .event-group a:hover,
  .event-group a:focus,
  .legend a:hover,
  .legend a:focus {
    text-decoration: none;
  }

  .label {
    background: $aqua-light;
    border-radius: 3px;
    font-size: 0.8em;
    padding: 2px 5px;

    &--1 {
      background: $yellow-light;
    }
  }
}

.legend {
  float: right;
  margin: 1em;
}

.page-taxonomy .feed-icon {
  display: block;
  margin-top: 1.5em;
}

.page-taxonomy .date-display-range {
  clear: both;
  display: inline;
}

.page-taxonomy .views-row-first h2.field-title {
  margin-top: 0;
}

.page-taxonomy h2.field-title {
  font-size: 1.5em;
  margin: 1em 0 0.2em;
}

.page-taxonomy .media {
  margin-bottom: 1.5em;
}
