.front .panel-display--three_six_three_stacked {
  padding-top: 2em;
}

.front .wrapper--highlighted {
  .l-region--highlighted {
    padding: 6em 0;
  }

  h2 {
    @include vertical-align;
  }
}

.libcal-upcoming-events-list h3 {
  display: none;
}

.libcal-upcoming-events-list h2 {
  margin-top: 0;
}

.libcal-upcoming-events-list .s-lc-ea-date {
  display: block;
  margin-bottom: 1rem;
}

.libcal-upcoming-events-calendar iframe {
  width: 100%;
}
