.front .wrapper--highlighted {
  // background: linear-gradient($highlighted-wrapper-5, $highlighted-wrapper-5), url("#{$base-path}/images/friends-highlight.jpg") center no-repeat;
  background: none;
  min-height: 0;

  h2 {
    color: $white;
    font-size: 3em;
    text-align: center;
    text-shadow: 0 1px 1px $black, 0 4px 3px $black-opacity-5, 0 8px 13px $black-opacity-2, 0 18px 23px $black-opacity-2;
  }

  .l-region.l-region--highlighted {
    padding: 0;
  }

  .block__title {
    display: none;
  }

  .block__content {
    display: block;
    text-align: center;
  }
}

.block--views-spotlight-dispalsys-block {
  @include breakpoint($desk) {
    display: none;
  }
}
