$banner-heading-1: rgba($white, 0.7);
$banner-heading-2: rgba($white, 0);

.section-student-friends {
  h1 {
    display: none;
  }

  .pane-custom {
    position: relative;

    h2.pane-title {
      background: linear-gradient(to right, $banner-heading-1 0, $banner-heading-2 100%);
      bottom: 0;
      display: block;
      font-size: 2rem;
      margin-bottom: 25px;
      padding: 0.3em;
      position: absolute;
      text-shadow: $white 2px 2px;
      width: 100%;
      z-index: 1;
    }

    p {
      margin-top: 0;
    }

    img {
      display: block;
      opacity: 1;
    }
  }
}
