.l-region--friends-branding {
    @include grid-span(12);
    display: block;
    margin: 0 auto;

    @include breakpoint($tab) {
    	@include grid-span(6,7);
    	margin-right: 0;
    }

    .block--search-form {
    	@include grid-span(12);
		float:none;

		form > div {
		  $search-bar-border-color: $base-border-color;
		  $search-bar-border: 1px solid $search-bar-border-color;
		  $search-bar-background: lighten($search-bar-border-color, 10);

		  position: relative;
		  display: inline-block;
		  width: 100%;

		  input {
		    box-sizing: border-box;
		    display: inline-block;
		    border: 1px darken($gray-darkest,5) solid;
		  }

		  div.form-item-query, div.form-item {
		    position: relative;

		    label {
		    	@include visually-hidden();
		    	color: $white;

		    	.form-required {
		    		color: $white;
		    	}
		    }

		    input[type=text] {
		      width: 100%;
		      height: 28px;
		      padding: .5em .8em;
		      font-size: $font-size-smaller;
		      font-style: italic;
		      border-radius: em(4);
		      margin: 0;
		      background: $white;
		      color: #aaa;
		      border: 1px darken($gray-darkest,5) solid;

		      &:focus {
				background: $white;
				color: $black;
		      }
		    }

		  }

		  input[type=submit] {
		      background: $gray-darkest;
		      position: absolute;
		      right: 0;
		      top: 0;
		      outline: none;
		      padding: 5px 10px;
		      height: 28px;
		      font-weight: normal;
		      color: $white;
		      border-top-left-radius: 0;
		      border-bottom-left-radius: 0;
		  }
		}

		@include breakpoint($tab) {
			@include grid-span(9,4);
		}
    }

    .search-block-form > div {
    	height: 90px;
    	margin: 0;

    	.container-inline {
			@include vertical-align();
    	}
    }

}